<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <script src="scripts/external/jquery-2.0.0.js"></script>
    <script src="scripts/external/d3.v3.min.js"></script>
    <script src="scripts/external/topojson.v1.min.js"></script>
    <script src="scripts/external/googleMaps.js"></script>
    <script src="scripts/external/datamaps.world.min.js"></script>
    <script src="scripts/external/handlebars-v1.3.0.js"></script>
    <script src="scripts/external/jquery.fittext.js"></script>
    <script src="scripts/article-slice.js"></script>
    <script src="scripts/bubble_functions.js"></script>

    <!--   -->
    <script id="hoverTemplate" type="text/x-handlebars-template">
        <article class = "hoverinfo">
                
                <div class="header">
                    <a href={{link}}>
                        <img src={{pic}}>
                        {{title}}
                    </a>
                </div>
                <div class="author">{{author}}</div>
                <div class="location">{{location}}</div>
                <div class="opening">{{opening}}</div>  
        </article>
    </script>
    
</head>

<body>
    
    <div id="jumbotron">OpenWorld</div>
    <div id="mapContainer"></div>
    <div id="bottom-link"><a href="aboutus.html">About Us</a> | <a href="https://github.com/mlewisno/OpnWrld">Github</a></div>

    <script>
        var articles = [];
        var bubblesArray = [];
        var articlesJSONAddresses = ["articles/guard.json", "articles/nyt.json"];
        var geocoder = new google.maps.Geocoder();
         $("#jumbotron").fitText();
        var BUBBLE_RATIO = 13.0; // How big the map is relative to the bubbles
        var BUBBLE_SIZE = parseFloat($('#jumbotron').css("font-size")) / BUBBLE_RATIO;
        
        // Editable!
        var BUBBLE_INTERVAL_TIME = 1000; // Time between bubbles appearing (in ms)
       
        var map = new Datamap({
                scope: 'world',
                element: document.getElementById('mapContainer'),
                popupOnHover: false,
                highlightOnHover: false,
                projection: 'equirectangular',
                done: loadJSONArticles,
                fills: {
                    defaultFill: '#000000',
                    gt50: 'red'
                },

                bubblesConfig:{
                    borderWidth: 5,
                    borderColor: '#FFFFFF',
                    highlightBorderColor: 'rgba(250, 15, 160, 0.2)',
                    highlightBorderWidth: 2,
                },

                geographyConfig: {
                    popupOnHover: false,
                    highlightOnHover: false

                },

            });
        
        function rebuildMap() {
            $('#mapContainer').empty();
            map = new Datamap({
                scope: 'world',
                element: document.getElementById('mapContainer'),
                popupOnHover: false,
                highlightOnHover: false,
                projection: 'equirectangular',
                fills: {
                    defaultFill: '#000000',
                    gt50: 'red'
                },
                bubblesConfig:{
                    borderWidth: 5,
                    borderColor: '#FFFFFF',
                    highlightBorderColor: 'rgba(250, 15, 160, 0.2)',
                    highlightBorderWidth: 2,
                },

                geographyConfig: {
                    popupOnHover: false,
                    highlightOnHover: false

                },

            });
            BUBBLE_SIZE = parseFloat($('#jumbotron').css("font-size")) / BUBBLE_RATIO;
            for (var i = 0; i < bubblesArray.length; i++) {
                bubblesArray[i]["radius"] = BUBBLE_SIZE;
            }
            redrawBubbles();
        }
        
        function loadJSONArticles() {
            for (var x = 0; x < articlesJSONAddresses.length;x++) {
                JSONAddress = articlesJSONAddresses[x];
                $.getJSON(JSONAddress, function (data) {
                    for(var i = 0; i < data.result.length; i++){
                        iterateJSON(data.result[i]);
                    }
                    loadArticles(articles);
                });
            }
        }
        
            
        function loadArticles(articlesArray) {
                article = articlesArray.pop();
                addBubbleAtAddress(article,article["location"]);
                if (articlesArray.length > 0) {
                    setTimeout(function(){loadArticles(articlesArray);},BUBBLE_INTERVAL_TIME);
                }
            }

        function hoverInfo(geo, data) {
            var source = $("#hoverTemplate").html(); 
            var template = Handlebars.compile(source);
            return template(data);                
        } 

        //if click on bubble, opens link in new tab
        $("body").bind("click", function(e) {
            if ($(e.target).attr('class') == 'datamaps-bubble'){
                var link = JSON.parse($(e.target).attr('data-info')).link;
                win=window.open(link, '_blank');
                win.focus();
            }
        });


        // At the end of resizing the window, rebuild the map
        var doit;
        window.onresize = function(){
          clearTimeout(doit);
          doit = setTimeout(rebuildMap, 200);
        };

      </script>
</body>